<div class="container">

  <header>
    <div class="row">
      <div class="column">
        <h1 class="text-center">
          {{ title }}
        </h1>
        <nav>
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Last 10</a>
            </li>
            <li>
              <a href="">Pick a date</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <div class="row">
      <div class="column">
        <h2>Rotating Moon from LRO</h2>
        <time>2018-01-01</time>
      </div>
    </div>
    <!--<div class="row">
    <div class="column">
      <img src="https://api.nasa.gov/images/apod.jpg" alt="">
    </div>
  </div>-->
    <div class="row">
      <div class="column">
        <div>
          <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/sNUNB6CMnE8?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="date">Date:</label>
        <input type="text">
      </div>
    </div>
  </main>
  <footer>
    <div class="row">
      <div class="column">
        <h2>footer</h2>
      </div>
    </div>
  </footer>
</div>
